@import "./variables.scss";

.nextDays {
  @apply my-8 rounded-[10px] p-4;
  background-color: $darkGrey;

  .nextDay {
    @apply grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;

    &__holder {
      @apply flex items-center shrink-0 mx-2 justify-center;

      &:first-of-type {
        @apply justify-start;
      }

      &:last-of-type {
        @apply justify-end;
      }
    }

    &__day {
      font-size: 0.9rem;
      font-weight: 500;
      color: $white;
    }

    &__icon {
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 0.25rem;
      object-fit: contain;
    }

    &__humidity {
      font-size: 0.9rem;
      font-weight: 500;
      margin-left: 0.25rem;
      color: $white;
    }

    &__temp {
      font-size: 0.9rem;
      font-weight: 500;
      margin: 0 0.25rem;
      color: $white;

      &--night {
        color: $grey;
      }
    }

  }
}