@import "./variables.scss";

.searchBar {
  @apply flex;

  &__input {
    @apply rounded-[10px] py-2 px-2 text-sm flex grow;
    color: $white;
    background-color: $darkGrey;
    outline: none;
    padding-right: 5rem;

    &::placeholder {
      color: $white;
    }
  }

  &__cancel {
    @apply absolute right-0 flex items-center h-full text-sm text-white px-3 py-1;
  }
}

.suggestionBox {
  @apply absolute w-full text-sm rounded-[10px];
  color: $black;
  background-color: $milk;
  top: calc(100% + 1rem);
  z-index: 1;

  &__list {

    &__item {
      @apply py-2 px-2;
      cursor: pointer;
      color: $darkGrey;
      font-weight: 500;

      &:hover {
        background-color: $blue;
        color: white;

        &:first-child {
          border-radius: 10px 10px 0 0;
        }

        &:last-child {
          border-radius: 0 0 10px 10px;
        }

        .additionalInfo {
          color: $milk;
        }
      }

      .additionalInfo {
        font-weight: 400;
        color: $grey;
        font-style: italic;
      }
    }

    &__noResults {
      @apply py-2 px-2 block;
    }
  }
}